<app-nav>

  <div class="flex-container">
    <div >
      <mat-spinner *ngIf="!isLoaded"></mat-spinner>
      <canvas *ngIf="isLoaded" class="graph-item" baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>

    <div >
      <mat-spinner *ngIf="!chart"></mat-spinner>
      <canvas class="graph-item" [hidden]="!chart" id="canvas">{{ chart }}</canvas>
    </div>

  </div>



</app-nav>
